# Ultroid custom Telethon fork
git+https://github.com/TeamUltroid/Telethon-patch

# Core dependencies
telethon==1.34.0
aiohttp
requests
python-dotenv
cryptg

# Database & caching
redis
motor
dnspython

# Logging and utilities
pytz
asyncio
psutil
dateparser
GitPython

# Misc / internal tools
Pillow
heroku3
telegraph
speedtest-cli
lyricsgenius
hachoir
pyfiglet
colorama
regex
gTTS
youtube-search-python
youtube_dl
ffmpeg-python
aria2p
python-rapidjson

# Optional or Ultroid-specific
telethon-tgcrypto
