# Custom Telethon Patch (New-dev0)
git+https://github.com/New-dev0/Telethon-Patch.git

# Core dependencies
telethon
gitpython
python-decouple
python-dotenv
telegraph
enhancer
requests
aiohttp
catbox-uploader
cloudscraper

# Additional common Ultroid requirements
psutil
pytz
cryptg
dnspython
dateparser
redis
motor
Pillow
ffmpeg-python
heroku3
pyfiglet
colorama
regex
hachoir
lyricsgenius
speedtest-cli
python-rapidjson
telethon-tgcrypto
